<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">

  <meta property="og:site_name" content="Andrew Schwartz">
  <meta property="og:title" content="Andrew Schwartz" />
  <meta property="og:type" content="website" />
  {# TODO: update time automatically #}
  <meta property="og:updated_time" content="1659485476" />

  {% favicon './favicon.png' %}

  {# TODO: make the title "Andrew Schwartz" if it's null #}
  <title>{{ title }} | Andrew Schwartz</title>
  {# fonts #}
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato,Merriweather&display=swap"
    rel="stylesheet"
  />
</head>
<body class="mx-auto max-w-screen-md py-8 pt-20 px-4 bg-[#1E1E1E] text-tan-100">
  <main class="min-h-[60vh]">
    {{ content | safe }}
  </main>

  <footer class="pt-4">
    <nav class="py-8 text-center">
      <p class="opacity-50 text-sm pt-6">
        © Andrew Schwartz 2025
      </p>
    </nav>
  </footer>
</body>
</html>
