---
layout: layout.njk
---

<a href="/writing">
    &#8592; <span>Back</span>
</a>

{# TODO: add title and subtitle here! #}

<article class="mt-6 prose prose-invert lg:prose-lg prose-a:underline prose-a:underline-offset-2 prose-a:decoration-orange-300">
    {{ content | safe }}
</article>
