---
layout: layout.njk
title: ooh a blog
---

<h1 class="font-serif text-4xl leading-tight">
  Andrew’s latest writing
</h1>

<ul class="mt-8 text-xl">
{% for post in collections.post %}
  <li class="mt-2">
    <a class="" href="{{ post.url }}">
      <span class="underline underline-offset-2 decoration-orange-300">{{ post.data.title }}</span> →
    </a>
  </li>
{% endfor %}
</ul>
