@import '../../scss/variables.module.scss';

.hero {
  h1 {
    font-family: $sans-serif;
    font-weight: bold;
    line-height: 100%;
    color: $color-off-black;
    margin: 2.5rem 0 1rem;
    font-size: 4rem;
    @media screen and (max-width: 560px) {
      font-size: 3rem;
    }
  }

  h2 {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 150%;
    margin: 0 0 2rem;
  }
  h3 {
    font-size: 1.25rem;
    font-family: $serif;
    a {
      font-family: $serif;
    }
  }
}
