---
layout: layout.njk
title: Andrew Schwartz
---

<h1
  class="font-serif text-3xl md:text-4xl lg:text-5xl lg:leading-tight leading-snug"
>
  Andrew is a technologist and explorer.
</h1>

<h2 class="text-2xl pt-8">
  He is the Vice President at
  
  <a
    href="https://www.cornflowerlabs.com/"
    target="_blank"
    class="underline underline-offset-2 decoration-orange-300"
  >Cornflower Labs</a>, a digital services company.
</h2>

<h3 class="text-lg pt-8">
  He previously collected, cleaned, and published data for the
  <a
    target="_blank"
    class="underline underline-offset-2 decoration-orange-300"
    href="https://covidtracking.com/"
  >
    COVID Tracking Project
  </a>
  at <em>The Atlantic</em>, researched
  <a
    target="_blank"
    class="underline underline-offset-2 decoration-orange-300"
    href="https://samer.hassan.name/"
  >
    online communities</a
  >, assisted with
  <a
    target="_blank"
    class="underline underline-offset-2 decoration-orange-300"
    href="http://that-recsys-lab.net/"
  >
    research on AI fairness</a
  >, and worked as a full stack engineer at an startup.
</h3>
<h3 class="text-lg pt-4">
  He graduated from the University of Colorado Boulder in May 2024 with degrees in
  <a
    target="_blank"
    class="underline underline-offset-2 decoration-orange-300"
    href="https://en.wikipedia.org/wiki/Information_science"
  >
    information science</a
  >
  and philosophy.
</h3>

<h3 class="text-lg pt-4">
Andrew can be reached on 
  <a
    href="https://www.linkedin.com/in/andrewtschwartz/"
    class="underline underline-offset-2 decoration-orange-300"
    target="_blank"
  >Linkedin</a>, on
  <a
    href="https://github.com/schwartzadev/"
    class="underline underline-offset-2 decoration-orange-300"
    target="_blank"
  >GitHub</a>,
  and via 
  <a
    href="mailto:andrew@aschwartz.me"
    class="underline underline-offset-2 decoration-orange-300"
    target="_blank"
  >email</a>.
</h3>
