---
layout: layout.njk
title: Andrew Schwartz
---

<h1 class="font-serif text-4xl lg:text-5xl lg:leading-tight leading-snug">
  Andrew is a student,
  <a class="underline underline-offset-2 decoration-orange-300" href="/writing">explorer</a>, and
  <a class="underline underline-offset-2 decoration-orange-300" href="/work">technologist</a>
  based in Colorado.
</h1>

<p class="pt-4 text-xl leading-normal">
  He studies
  <a class="underline underline-offset-2 decoration-orange-100" target="_blank" href="https://en.wikipedia.org/wiki/Information_science">Information Science</a>
  at the University of Colorado and develops software at
  <a class="underline underline-offset-2 decoration-orange-100" target="_blank" href="https://getbatch.com">Batch</a>.
</p>
