---
layout: layout.njk
title: Andrew Schwartz
---

<h1 class="font-serif text-5xl leading-tight">
  Andrew is a student, explorer, and software engineer based in Colorado.
</h1>

<p class="pt-4 text-xl">
  He currently studies
  <a class="underline underline-offset-2 decoration-orange-200" target="_blank" href="#">Information Science</a>
  at the University of Colorado and develops software at
  <a class="underline underline-offset-2 decoration-orange-200" target="_blank" href="https://getbatch.com">Batch</a>.
</p>
