---
layout: layout.njk
title: Work | Andrew Schwartz
---

<h1 class="font-serif text-2xl lg:text-4xl leading-tight">
  Andrew develops cutting-edge technology solutions for exciting organizations.
</h1>

{# <p class="pt-4">
- My Work
  - Batch
    - Web Client
    - Backend work
    - Internal Tooling
    - Homepage
  - COVID Tracking Project
  - TRSL
  - Misc. Consulting
    - PLC
    - JIRA presentation
</p> #}

{# He works across the product lifecycle, from ideation to launch, and is experienced as a software engineer and data analyst in a wide range of domains. #}

<p class="pt-6 text-md lg:text-lg">
  Andrew studies Information Science and Philosophy at the
  <a target="_blank" href="https://www.colorado.edu/" class="underline underline-offset-2 decoration-orange-300">
  University of Colorado, Boulder.</a>
</p>

<p class="pt-4 text-md lg:text-lg">
  He is on an exchange at the
  <a target="_blank" href="https://www.us.es/" class="underline underline-offset-2 decoration-orange-300">
    University of Seville</a> until Spring 2023.
</p>

<p class="pt-4 text-md lg:text-lg">
  Previously, Andrew worked as a full stack software engineer at
  <a target="_blank" class="underline underline-offset-2 decoration-orange-300" href="https://www.getbatch.com/">
    Batch Technologies</a>, where he built e-commerce infrastructure.
</p>
<p class="pt-4 text-md lg:text-lg">
  Prior to Batch, Andrew worked at the
  <a target="_blank" class="underline underline-offset-2 decoration-orange-300" href="https://covidtracking.com/">
    COVID Tracking Project
  </a> at <em>The Atlantic</em>,
  where he developed and maintained web infrastructure for critical public health data.
</p>
<p class="pt-4 text-md lg:text-lg">
  He also worked as a research assistant with
  <a target="_blank" class="underline underline-offset-2 decoration-orange-300" href="http://that-recsys-lab.net/">
  That Recommender Systems Lab
  </a>.
</p>

<p class="pt-8 text-md lg:text-lg">
  See Andrew’s complete work history
  <a target="_blank" href="https://www.linkedin.com/in/andrewtschwartz/" class="underline underline-offset-2 decoration-orange-300">
    on LinkedIn</a>.
</p>
