---
layout: layout.njk
title: Andrew Schwartz
---

<h1 class="font-serif text-3xl leading-tight">
  Andrew develops cutting-edge technology solutions.
</h1>

<h3 class="pt-4 text-xl">
  He works across the product lifecycle, from ideation to launch, and is experienced as a software engineer and data analyst in a wide range of domains.
</h3>

{# TODO: need to decide if this should be a chronology or more of a summary #}
{# leaning towards the latter, we can easily link out to linkedin #}

{# <p class="pt-4">
- My Work
  - Batch
    - Web Client
    - Backend work
    - Internal Tooling
    - Homepage
  - COVID Tracking Project
  - TRSL
  - Misc. Consulting
    - PLC
    - JIRA presentation
</p>

<p>
  In the past, Andrew has worked with 
</p> #}

<p class="mt-8">
  See Andrew's complete work history
  <a target="_blank" href="https://www.linkedin.com/in/andrewtschwartz/" class="underline underline-offset-2 decoration-orange-300">
    on Linkedin
  </a>.
</p>
